version: '3'
services:
  db:
    image: mysql:latest
    command: mysqld --default-authentication-plugin=mysql_native_password
    restart: always
    ports:
     - "3306:3306"  
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=wordpress
      - MYSQL_USER=wordpress
      - MYSQL_PASSWORD=wordpress
  wordpress:
    depends_on:
       - db
    image: wordpress:latest
    restart: always
    ports :
     - "80:80"
    volumes:
     - /Users/benoitdussaux/Documents/DEV/docker-wordpress/www:/var/www/html/
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: wordpress
  phpmyadmin:
     image: phpmyadmin/phpmyadmin:latest
     restart: always
     depends_on:
      - db
     ports :
      - "8080:80"
     links:
      - db:mysql